.icon-48-dishes {
      background-image: url(../images/l_dishes.png);
      padding-left:60px!important;
}

.icon-48-dish {
      background-image: url(../images/l_dishes.png);
      padding-left:60px!important;
}

.icon-48-combos {
      background-image: url(../images/l_combos.png);
      padding-left:60px!important;
}

.icon-48-combo {
      background-image: url(../images/l_combos.png);
      padding-left:60px!important;
}

